.amazon-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(19, 25, 33);
  height: 55px;
  align-items: center;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
}
.amazon-logo {
  width: 110px;
}
.search-box {
  display: flex;
  flex: 1;
  max-width: 500px;
}
.search-input {
  width: 100%;
  border: none;
  height: 30px;
}
.right-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart {
  display: flex;
  flex-direction: row;
  position: relative;
}
.cart-counter {
  color: orange;
  position: absolute;
  right: 25px;
  bottom: 21px;
}
.returns {
  color: white;
  width: 80px;
}
.product-image-container {
  max-width: 150px;
  padding-top: 30px;
  padding-bottom: 15px;
}
.product-image {
  width: 150px;
  height: 150px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.product-container {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 22px;
}
.product-title {
  width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.select-option {
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 30px;
  background-color: rgb(245, 240, 240);
  cursor: pointer;
}
.select-option:focus {
  border: 2px solid orangered;
}
.product-stars {
  width: 100px;
}
.rating-number {
  font-size: 22px;
  color: rgb(118, 118, 238);
  margin-left: 10px;
}
.product-price {
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}
.add-to-cart {
  margin-right: 20px;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  background-color: orange;
  cursor: pointer;
}
